*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.Brand-Title{
    font-size: 1.5rem;
    margin: .5rem;
    color: white;

}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    margin: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: gray;
}
#bars{
    font-size: 30px;
    position: relative;
    right: 40px;
    cursor: pointer;

    display: none;
}

@media screen and (max-width:765px){

    .all-links{
        position: absolute;
        right: 0px;
        top: 12vh;
        height: 55vh;
        background-color:grey;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #bars{
        display: block;
        color: honeydew;
    }
    .navbar-links li{
        opacity: 1;
    }
    
}
    
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFades{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}